<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Free movie catalogue for you">
    <meta name="theme-color" content="#008000"/>
    <link rel="apple-touch-icon" href="/icons/192x192.png">
    <link rel="manifest" href="manifest.json">
    <link rel="icon" href="favicon.ico">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.css"
      crossorigin="anonymous"
    />
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <title>WaroengKu Apps</title>
</head>
<body>
    <a href="#Maincontent" class="skip-link">Menuju Ke Konten</a>

    <navbar-comps></navbar-comps>

    <div class="hero">
        <!-- <picture>
            <source media="(max-width: 600px)" class="lazyload" type="image/webp" srcset="./images/heros/hero-image_2.webp">
            <source media="(max-width: 600px)" class="lazyload" type="image/jpeg" srcset="./images/heros/hero-image_2.jpg">
            <img src='./images/heros/hero-image_2.jpg' class="lazyload" alt="Waroengku Catalogue">
        </picture> -->
        <div class="hero__inner">
            <h1 class="hero__title">WaroengKu Apps</h1>
            <h1 class="hero__title2">Tentukan Pilihan Restaurantmu Sekarang!!</h1>
            <p class="hero__tagline">Jadikan Momen Makan Santai Bersama Keluarga Di Tempat Restaurant Pilihanmu</p>
        </div>
    </div>

    <main tabindex="0" id="Maincontent"></main>
    <footer-comps></footer-comps>

</body>
</html>
